<p id="notice"><%= notice %></p>

<p>
  <strong>Started at:</strong>
  <%= @admin_discount.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @admin_discount.ended_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_discount.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_discount.description %>
</p>

<p>
  Every <%= @admin_discount.step %> of ordered will be discounted on <%= @admin_discount.amount %> <%= @admin_discount.variant %>
</p>

<%= link_to 'Edit', edit_admin_discount_path(@admin_discount) %> |
<%= link_to 'Back', admin_discounts_path %>